@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




.App {
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  max-width: 1440px;
  max-height: 920px;
}

.App-header {
  background: #422ED4;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  height: 59px;
  margin-bottom: 30px;
}

.App-header-content {
  height: 100%;
  display: flex;
  margin-left: 160px;
  align-items: center;
}

.App-header-content img{
  width: 43px;
  height: 43px;
  margin-right: 10px;
}